/* Basic styling and global color variables */
:root{
    --primary: rgb(90, 140, 205);
    --background: rgb(192, 203, 214);
    --accent: #2F394D;
}

body{
    background-color: var(--background);
    height: 100vh;
}
/* Style search pannel including search bar and old searches */
.input-group-rounded .input-group-field {
    border-radius: 5000px 0px 0px 5000px;
    padding-left: 1rem;
}
  
.input-group-rounded .input-group-button .button {
border-radius: 0 5000px 5000px 0;
font-size: 0.8rem;
background-color: var(--accent);
}
.side-bar {
    display: inline-block;
    width: 15%;
    min-width: 162px;
    position: fixed;
    margin-top: 6rem;
    height:100%
}
.btn-rnd{
    border: 0;
    background-color: var(--accent);
    margin-bottom: 1rem;
    border-radius: 1000px;
    padding: .5rem 1rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.hist{
    color:white;
    border: 0;
    background-color: var(--accent);
    font-family: Arial, Helvetica, sans-serif;

}
/* Style current weather display */
#cityMain{
    width: 80%;
    float: left;
    margin-left: 20rem;
    margin-top: 6rem;
    height: 40%;
    background-color: var(--primary);
    margin-bottom: 3rem;
}
/* Style heading of page */
.headline {
    background-color: var(--primary);
    height: 5rem;
    top:0;
    right: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.headline h1{
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
    letter-spacing: 2px;
}
/*style daily weather forcasts*/
#results-panel {
    display:flex;
    flex-wrap: nowrap;
    float: left;
    margin-left: 25%;
    margin-right: 5%;
}
.card{
    min-width: 180px;
}
  /*Start wrapping daily weather to remain llegible on smaller screen*/
@media screen and (max-width:1790px) {
    #results-panel {
      flex-wrap: wrap;
      width:70%;
      justify-content: space-between;
    }
    #cityMain{
        margin-right: 20rem;
    }
}
/*Change display to mobile-friendly*/
@media screen and (max-width:750px) {
    .side-bar {
      position: relative;
      width: 90%;
    }
    #cityMain{
        width: 90%;
        align-self: center;
        margin: 2rem;
    }
    .card{
        width: 100%;
        align-self: center;
        margin-bottom: 2rem;
    }
    #results-panel{
        width:90%;
        margin-left: 5%;
    }
    /* Style Hamburger menu and disable other menu*/
    .bar1, .bar3 {
      display: inline-block;
      width: 35px;
      height: 5px;
      background-color: var(--accent);
      margin: 6px 0;
      transition: 0.4s;
    }
    .bar2{
      cursor: pointer;
      vertical-align: middle;
      width: 35px;
      height: 5px;
      background-color: var(--accent);
      font-size: 1.2em;
      margin-top: -8px;
      margin-bottom: 0px;
      transition: 0.4s;
    }
  
    .menu-hidden{
      display: none;
    }
  }
