:root{
    --primary: rgb(90, 140, 205);
    --background: rgb(192, 203, 214);
}

body{
    background-color: var(--background);
    height: 100vh;
}
.input-group-rounded .input-group-field {
    border-radius: 5000px 0px 0px 5000px;
    padding-left: 1rem;
}
  
.input-group-rounded .input-group-button .button {
border-radius: 0 5000px 5000px 0;
font-size: 0.8rem;
}
.side-bar {
    display: inline-block;
    width: 15%;
    position: fixed;
    margin-top: 6rem;
    height:100%
}
#cityMain{
    width: 80%;
    float: right;
    margin-top: 6rem;
    height: 40%;
}
.headline {
    background-color: var(--primary);
    height: 5rem;
    top:0;
    right: 0;
    left: 0;
    position: fixed;
    overflow: auto;
}
.headline h1{
    text-align: center;
    color: rgb(29, 29, 44);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
}
#results-panel {
    display:flex;
    flex-wrap: nowrap;
    float: left;
    margin-left: 25%;
}
  
